  <div class="d-flex justify-content-center align-items-center vh-100">
    <div>
      <div class="card text-bg-secondary mb-3 bg-success" style="max-width: 18rem;">
        <div class="card-header">Cadastro de Cliente</div>
        <div class="card-body">
            <form #clienteForm="ngForm" (ngSubmit)="cadastrarCliente()" class="needs-validation" novalidate>
            <label for="id" class="form-label">ID</label>
            <input type="number" id="id" class="form-control" [(ngModel)]="cliente.id" name="id" required>
      
            <label for="nome" class="form-label">Nome</label>
            <input type="text" id="nome" class="form-control" [(ngModel)]="cliente.nome" name="nome" required>
      
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="cliente.email" name="email" required>
      
            <label for="idade" class="form-label">Idade</label>
            <input type="number" id="idade" class="form-control" [(ngModel)]="cliente.idade" name="idade" required>
        
            <button type="submit" class="btn btn-primary mt-3" [disabled]="!clienteForm.form.valid">Cadastrar</button>
          </form>
        </div>
      </div>
      <div class="text-center mt-3">
        <h6 class="mt-4">Clientes Cadastrados</h6>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let cliente of clientes">{{ cliente.nome }}</li>
        </ul>
      </div>
    </div>
  </div>